@import "./Styles/variables";
@import "./Styles/mixins";

.not_found{
  background-color: aliceblue;
}

.main{
  width: 100vw;
  height: 100vh;
  padding: 16px;
}


#left_menu{
.ant-menu {
    font-size: 16px !important;
  }

  .ant-menu .ant-menu-item .anticon {
    font-size: 20px !important;
  }

  .ant-menu-inline-collapsed>.ant-menu-item .ant-menu-item-icon {
    font-size: 28px !important;
  }

  .ant-menu-vertical .ant-menu-item {
    height: 50px !important;
  }

  .ant-menu-inline-collapsed>.ant-menu-item {
    padding-inline: 30% !important;
  }

  .ant-menu-vertical .ant-menu-item {
    margin-block: 15px !important;
    padding-top: 9px !important;
  }

  .ant-layout-sider-children {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .ant-menu-light.ant-menu-root.ant-menu-inline{
      border-inline-end: none !important;
  }
  .ant-menu-submenu-title{
    display: flex;
    align-items: center;
  }
}

#login{
  .ant-form-item{
    margin-bottom: 15px !important;
  }

  .login_box{
    border-radius: 30px;
    margin-left: 6rem;
    width: 280px;
    padding: 3rem 5rem;
    box-shadow: #b4e1e2 2.4px 2.4px 3.2px;
    .login_btn {
        height: 70px;
        width: 70px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        .anticon {
          font-size: 28px !important;
        }
    }
    .ant-input-outlined{
      padding: 0.4rem 0.8rem;
    }
  }
}

#signup {
    padding: 3rem;
    .signup_box{
      border-radius: 30px;
      width: 60%;
      height: 70vh;
    }
    .signup_form{
      width: 70vw;
      box-shadow: #b4e1e2 2.4px 2.4px 3.2px;
      border-radius: 30px;
      .box_mail{
        height: 40vh;
      }
      .mail{
        width: 350px;
      }

      .cat_hello{
        position: absolute;
        top: 40%;
        right: 20%;
      }

      .login_btn{
          position: absolute;
            top: 58%;
            right: 30%;
      }
    }
    .ant-form-item {
      margin-bottom: 10px !important;
    }
}
